body{
    font-family: "Times New Roman";
}
h2{
    text-align: center;
    color: blue;
}
div#menu{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
div#top{
    width: auto;
}
div#editor{
    display: flex;
    justify-content: space-around;}
button{
    border-radius: 4px;
    padding: 5px;
}
button:hover{
    background-color: darkgrey;
    color: darkblue;
}
button.menu{
    background-color: blue;
    color: coral;
    border: none;
    border-radius: 0px;
    outline: none;
    margin: 0;
    height: 30px;
}
tbody{
    border: gray 2px solid;
}
table.list tr:nth-child(even){
    background-color: #f2f2f2;
}
table#viewer th{
    resize: horizontal;
    overflow: auto;
}
table#info{
    text-align: center;
    padding: 5px;
    font-size: 16px;
    width: 450px;
    margin: 0;
}
img.imgsize{
    width: 80px;
    height: 80px;
}
